$colorLightBlue: #e4f5fd;
$colorBlue: #44bbf2;
$colorBlack: #333333;
$colorWhite: #fff;
$colorGray: #808080;
$colorRed: #c22047;
$fontBig: 2.4rem;
$fontSemiMiddle: 1.6rem;
$fontSmall: 1.4rem;
$fontMiddle: 2.4rem;
$spaceBase: 0.8rem;
$spaceSmall: 1.6rem;
$spaceContainer: 8rem;
$specialFontFamily: 'Berkshire Swash', cursive;
