$colorLightBlue: #e4f5fd;
$colorBlue: #44bbf2;
$colorBlack: #333333;
$colorWhite: #fff;
$fontBig: 2.4rem;
$fontMiddle: 1.6rem;
$fontSmall: 1.4rem;
$smallPadding: 1.6rem;
$specialFontFamily: 'Berkshire Swash', cursive;
.baseButton {
  padding: 1.6rem 3.4rem;
  background-color: $colorWhite;
  color: $colorBlue;
  font-size: $fontMiddle;
  width: 25.4rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  span {
    height: 2rem;
    line-height: 2rem;
  }
}
.buttonLine {
  @extend .baseButton;
  box-sizing: border-box;
  border: solid 2px $colorBlue;
}
