@import '../../../src/styles/config.variables.scss';
.button {
  padding: 1.6rem 3.2rem;
  background-color: $colorWhite;
  color: $colorBlue;
  font-size: $fontMiddle;
  text-align: center;
  font-weight: bold;
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  span {
    height: 2rem;
    line-height: 2rem;
  }
}
.button-showly {
  @extend .button;
  background-color: $colorBlue;
  color: $colorWhite;
}
.button-line {
  @extend .button;
  box-sizing: border-box;
  border: solid 2px $colorBlue;
}
