@import '../../../../styles/config.variables.scss';
.NaviItem {
  z-index: 10;
}
.NaviItem-subtitles {
  background-color: $colorLightBlue;
  padding: 18px;
  max-width: 150px;
  .subtitle {
    a {
      &:hover {
        color: white;
      }
    }
  }
}
