@import '../../../styles/config.variables.scss';
.Lower {
  padding: 0 10%;
  color: $colorBlack;
  font-size: $fontBig;
  display: flex;
  a {
    text-decoration: none;
  }
}
.Lower-logo {
  width: 5%;
}
.Lower-naviItems {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
